@theme {
	--color-primary: #3f424e;
	--color-secondary: #5e5f72;
	--color-brand-secondary: #c6b7ed;
	--color-bg: #eeeeee;
	--color-border: #fff;
	--color-brand: #35bfab;
	--color-card: #ffffff66;
	--color-article: #ffffffcc;

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		'PingFang SC', -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}
